nav {
    justify-content: space-between;
    display: flex;
}

hr {
    width: 100%;
    height: 0.581px;
    background-color: #ECECE8;
}

header ~ div {
    top: 86px !important;
    height: 5px !important;
}
header ~ div div{
    box-shadow: none !important;
}