.btn-previous {
    display: inline-flex;
    padding: 8.128px 15.095px;
    justify-content: center;
    align-items: center;
    gap: 5.806px;
    background: linear-gradient(95deg, #D1D1D1 0%, #D1D1D1 100%);
    box-shadow: 0px 5.806px 23.223px -6.967px #D1D1D1;
    border: none;
    cursor: pointer;
}

.btn-next {
    display: flex;
    width: 89.988px;
    padding: 8.128px 15.095px;
    justify-content: center;
    align-items: center;
    gap: 5.806px;
    color: #fff;
    background: linear-gradient(95deg, #FCC822 0%, #FFCD2E 100%);
    box-shadow: 0px 5.806px 23.223px -6.967px #FBE18F;
    border: none;
    cursor: pointer;
}

.btn-skip {
    color: #FCC822;
    font-size: 13.934px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

.timer {
    background-image: url(../../images/timer.svg) ;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 15px;
}